html, body {
  height: 100%;
  margin: 0;
}


body {
  background-color: white;
/*  background-size: cover;*/
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

h1, h2 {
  color: black;
  font-weight: 100;
  font-size: 40px;
  margin: 0px;
}

h6 {
  color: black;
  font-weight: 100;
  font-size: 25px;
  margin: 20px;
}

p {
  color: black;
  font-weight: 200;
  font-size: 1.25em;
}

/* * * * * * * * * */
/* TEXT POPUP IN IMAGE - requires .popup2 position: relative */
/* * * * * * * * * */

.imgWord {
  display: none;
  font-weight: 400;
  font-size: 1em;
}

.popup2 .square_icon img {
  text-align: center;
}

span.imgWord {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 60px;
}

.popup2:hover .imgWord {
  display: block;
}

.popup2:hover .square_icon {
  opacity: 0.1;
  transition: opacity 1s ease;
}


/* * * * * * * * * */
/* end up text popup css */
/* * * * * * * * * */

.home,
.about,
.projects,
.ux_projects {
  color: #CC96F8;
  padding: 20px;
}



.emailtext:hover,
.fa-github:hover,
.fa-android:hover,
.fa-linkedin-square:hover,
.fa-laptop:hover {
  color: #38FAD8;
}


.box_main {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
}

.box_main2 {
  margin-top: 5%;
  margin-left: 5%;
}

a:link {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

a:active {
  color: #38FAD8;
  font-weight: 100;
}

a:hover {
  color: #38FAD8;
  cursor: pointer;
}

a {
  color: rgba(0,0,0,0.5);;
  font-weight: 200;
  font-size: 1.25em;
}

section {
  overflow: hidden;
}

.singleProject {
/*  background-color: orange;*/
}

.popup2 {
  max-width: 80%;
  border-radius: 4px;
  padding: 1%;
  background: linear-gradient(to bottom right,#38FAD8,#0951EB);
  z-index: 2;
  position: relative;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
  transition: all 0.3s ease-in-out;
}




.popup2:hover {
  background: linear-gradient(to bottom right,#B0C7F9,#1F22C0);
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}


.popup2 img {
  max-width: 100%;
  height: auto;
  transition: all 1s ease-in-out;
  opacity: 0.3;
}

.popup2 img:hover {
  opacity: 0.5;
}

.inner_modal img {
  width: 50%;
}

.beTogether {
  display: inline-flex;
}



.content {
 /* min-height: calc(100vh - 300px);*/ /*min-height calc for the sticky-footer*/
}

footer {
  margin-top: 300px;
  width: 100%;
  display: inline-flex;
  height: 400px;
  background: linear-gradient(to bottom,#0951EB,#a577ef);
}

footer a {
  color: white;
}

footer p {
  color: white;
}


.contact {
  width: 50%;
  padding-left: 10%;
}

.footer-links {
  width: 50%;
  color: white;
  padding-left: 10%;
}

.about-content {
  display: inline-flex;
}

.about-pic img {
  max-width: 100%;
  height: auto;
}

.about-text {
  margin: 5%;
}

.about-pic {
  margin: 5%;
}

.resume-content {
  margin: 5%;
}

ul {
  margin-left: 2%;
}

ul .res-list-title {
  font-weight: bolder;
  margin-bottom: 2px;
  font-size: 0.9em;
  letter-spacing: 5px;
  margin-left: -2%;
  list-style: none;
}

.resume-fa {
  color: #38FAD8;
}

.resume-btn {
  width: 30%;
  height: 40px;
  background: linear-gradient(to bottom, #38FAD8, #0951EB);
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 0.9em;
  font-style: bolder;
  letter-spacing: 3px;
}

.mondo-content {
  margin: 5%;
}

.project-chunk {
  display: inline-flex;
  margin: 5%;
}

.project-text {
  font-size: 1.2em;
  min-width: 50%;
}

.project-img {
  width: 50%;
}

.project-img img {
  max-width: 100%;
  height: auto;
}

.project-summary {
  margin: 5%;
  background-color: #0951EB;
  padding: 2%;
}

.project-summary p {
  margin-left: 5%;
  color: white;
}

.project-summary i {
  color: white;
  margin-left: 5%
}

.project-summary a {
  color: white;
}

.project-summary a:hover {
  color: #38FAD8;
}

.mondoh2 {
  text-align: center;
}


.project-text-title {
  font-weight: bolder;
  font-size: 1.1em;
  letter-spacing: 5px;
}

.emc-logo {
  position: absolute;
  margin: 3%;
  top: 0;
  right: 0;
}








@media screen and (min-width: 1700px) {
  footer {
    margin-top: 150px;
  }

}

@media screen and (max-width: 1250px) {
  footer {
    margin-top: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .beTogether {
    display: block;
  }

  .popup2 {
    width: 60%;
    margin-left: 20%;
  }

  .imgWord {
    font-size: .8em;
  }

  .about-content {
    display: inline-block;
  }

  .emailtext {
    font-size: 18px;
  }

  footer {
    margin-top: 300px;
  }

  .project-chunk {
    display: block;
  }

  .emc-logo {
    margin: 1%;
  }

  .emc-logo img {
    max-width: 60%;
    height: auto;
  }
}












@media screen and (max-width: 500px) {
  .box_main {
    font-size: 0.9em;
  }

  h1, h2 {
    font-size: 30px;
  }

  .inner_modal img {
    width: 100%;
  }

  .emailtext {
    font-size: 13px;
  }

  .about_text {
    max-width: 100%;
    margin-left: 0;
  }

  .beTogether {
    display: block;
  }

  .popup2 {
    width: 85%;
    margin-left: 5%;
  }

  .home,
  .about,
  .projects,
  .ux_projects {
    font-size: 20px;
    padding: 15px 5px;
  }

  .imgWord {
    font-size: .4em;
  }

  span.imgWord {
    top: 20px;
  }

  footer {
/*    display: inline-block;*/
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .contact {
    width: 100%;
  }

  .footer-links {
    width: 100%;
  }

  .resume-btn {
    width: 80%;
    font-size: 0.7em;
  }

  .project-chunk {
    display: block;
  }

  .project-img {
  width: 100%;
  }

  .project-text {
    width: 100%;
  }

  .emc-logo img {
    max-width: 45%;
    height: auto;
  }

}

@media screen and (max-width: 200px) {
  .about-content img {
    max-width: 80%;
    margin-left: 10%;
  }

  .about-content {
    font-size: 0.8em
  }

  .about-pic {
    max-width: 140px;
  }

  .about-text {
    max-width: 140px;
  }

  .project-summary p {
    font-size: 0.9em;
  }

  .project-text-title {
    font-size: 0.7em;
  }

  .project-text {
    font-size: 0.8em;
  }
}











